<%- include('../_partial/_header'); %>
<body>
<h1>Raw Data</h1>
    <table border="1">
        <tr>
            <th>Food Name</th>
            <th>Category Name</th>
        </tr>
        
        <% if(foodData.length!=0){
            foodData.forEach(function(data){ %>
        <tr>
            <td><%=data.food_name %></td>
            <td><%=data.category_name %></td>
        </tr>
        <%  }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>

    <table border="1">
        <tr>
            <th>Category Name</th>
        </tr>
        
        <% if(categoryData.length!=0){
            categoryData.forEach(function(data2){ %>
        <tr>
            <td><%=data2.category_name %></td>
        </tr>
        <%  }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
</body>

<script>
// have one router to the buttons page
// send query w/ all categories
// send query w/ food from each category separately
// so then on the buttons page we can only show certain categories?

// renders the page with the tables -- for testing and commented out 11/2/2022
// router.get('/food_list', function(req, res) {
//     var sql1='SELECT * FROM foods';
//     var sql2='SELECT * FROM foodCategory';
//     conn.query(sql1, function (err, data) {
//         if (err) throw err;
//         conn.query(sql2, function (err2, data2) {
//             if(err2) throw err2;
//             res.render('testing/food_list', {title:'Food List',foodData:data,categoryData:data2});
//         }) 
//     });
// });


</script>

<%- include('../_partial/_footer'); %>