<%- include('../_partial/_header'); %>

    <h1> Find a Recipe </h1>
    <br>
    <label for="filter-options">Select From Food Category Filters:</label>
    <select name="filter-options" id="filter-options">
        <option value="All">All Food Categories</option>
        <% categoryData.forEach(function(data2){ %>
            <option value=<%=data2.category_name%>><%=data2.category_name%></option>
        <% }) %>
    </select>

    <br>

    <!--Add button clicks from Find_Recipes-->
    <!-- https://codingstatus.com/how-to-display-data-from-mysql-database-table-in-node-js/ -->
    <% foodData.forEach(function(data){ %>
        <button onclick="foodClick(this)" id="<%=data.food_name %>" style="margin:5px; background-color: white" ><%=data.food_name %></button>
    <%  }) %>

    <br>
    <br> 
    
    <!--Need to add functionality/logic to send data from above clicked buttons to an array and refresh to new page-->
    <label for="Go">Added All Your Food Items? Click Here:</label>
    <a href = "/Recipe_Display" > <!--When pressed, it will navigate to a different view to display the recipies; /Recipe_Display has NOT been created yet-->
        <button type="button" id="Go" style="margin:5px; color: black" onclick="goClick()">Submit</button>
    </a>

    <p id="test"> Clicked On?</p>
    <div >
        <ul id="selectedList"></ul>
    </div>

    <script>
        // MEG 11/2/2022 Going to watch to figure out this function https://www.youtube.com/watch?v=DABVLJjnVUs&ab_channel=dcode
        
        // this is an array to store all of the input values in
        var selected = [];

        // this shows the name of the button on the bottom of the screen when the button is clicked
        function foodClick(button) 
        {
            //const element = document.getElementById("test");
           // console.log(button);
            //console.log(button.getAttribute("id"));
            document.getElementById("test").innerHTML = button.getAttribute("id");

            // adds the selected item to the array
            if(!(selected.includes(button.getAttribute("id"))))
            {
                selected.push(button.getAttribute("id"));
                console.log(selected);
                let thisItem = document.createElement("li");
                thisItem.setAttribute("id","selected"+button.getAttribute("id"));
                thisItem.innerHTML = button.getAttribute("id");
                document.getElementById("selectedList").appendChild(thisItem);
            }
            // if the button is un-selected, it removes from the list
            else
            {
                let index = selected.indexOf(button.getAttribute("id"));
                selected.splice(index,1);
                let selectedList = document.getElementById("selectedList");
                selectedList.removeChild(document.getElementById("selected"+button.getAttribute("id")));
            }
        }

        function goClick() { // not working
        const element = document.getElementById('Go');
        const style = getComputedStyle(element);
        console.log(style.backgroundColor);
    }
    </script>

<%- include('../_partial/_footer'); %>