<%- include('../_partial/_header'); %>

    <!--Lists all of the food categories as drop down options-->
    <head>
        <title>Find a Recipe </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
    
      <body>

        <div class="container-fluid p-5 text-black text-center">
            <h1> Find a Recipe </h1> <br>
        </div>

    <br>

    <div class="container">
    <label for="filter-options">Select From Food Category Filters:</label>
    <select name="filter-options" id="filter-options">
        <option value="All">All Food Categories</option>
        <% categoryData.forEach(function(data2){ %>
            <option value=<%=data2.category_name%>><%=data2.category_name%></option>
        <% }) %>
    </select>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
    <!--Add button clicks from Find_Recipes-->
    <!-- https://codingstatus.com/how-to-display-data-from-mysql-database-table-in-node-js/ -->
    <!-- The foodClick() method sends the whole button object so it can be used -->
    <% foodData.forEach(function(data){ %>
        <button type="button" class="btn btn-default" onclick="foodClick(this)" id="<%=data.food_name %>" style="margin:5px; background-color: white" ><%=data.food_name %></button>
    <%  }) %>
            </div>
        </div>    
    </div>

    <br>
    <br> 
    
    <!--Need to add functionality/logic to send data from above clicked buttons to an array and refresh to new page-->
    <label for="Go">Added All Your Food Items? Click Here:</label>
    <a href = "/Recipe_Display" > <!--When pressed, it will navigate to a different view to display the recipies; /Recipe_Display has NOT been created yet-->
        <button type="button" id="Go" class="btn btn-info"  onclick="goClick()">Show Me the Recipes!</button>
    </a>

    <!--This is updated with the names of the foods that are clicked-->

    <h5><strong>Last Selected Item:</strong></h5>
    <p id="test"> </p>
    <h5> <strong>Selected Food Items:</strong></h5>
    <div >
        <ul id="selectedList"></ul>
    </div>

</body>

    <script>
        // this is an array to store all of the input values in
        var selected = [];

        // this function is called every time a button is clicked
        function foodClick(button) 
        {
            // makes the "test" thing say the name of the food
            document.getElementById("test").innerHTML = button.getAttribute("id");
            
            // the item is not in the array already
            if(!(selected.includes(button.getAttribute("id"))))
            {
                // adds the name of the food to the array, and display it to the console for debugging
                selected.push(button.getAttribute("id"));
                console.log(selected);
                let thisItem = document.createElement("li");
                thisItem.setAttribute("id","selected"+button.getAttribute("id"));
                thisItem.innerHTML = button.getAttribute("id");
                document.getElementById("selectedList").appendChild(thisItem);

                // change background color on click to show selected
                button.style.backgroundColor="grey";
                button.style.color = "white";

            }
            // the item is already in the list
            else
            {
                // removes the item from the list
                let index = selected.indexOf(button.getAttribute("id"));
                selected.splice(index,1);
                let selectedList = document.getElementById("selectedList");
                selectedList.removeChild(document.getElementById("selected"+button.getAttribute("id")));

                // change background on click to show unselected
                button.style.backgroundColor="white";
                button.style.color = "black";
            }
        }

        // find some way to send the "selected" list to other parts of the project when the submit button is clicked
        function goClick() 
        {
            const element = document.getElementById('Go');
            const style = getComputedStyle(element);
            console.log(style.backgroundColor);

            console.log(selected);

            //uses localStorage to store the selected array, Abbie 11/15
            localStorage.setItem("selectedArray", selected);

            //how to retrieve value from localStorage
            //var value = localStorage.getItem("selectedArray");
        }
    </script>

<%- include('../_partial/_footer'); %>